
  <div class="modal-dialog">
    <div class="modal-content row">
    	<button type="button" class="close pull-right animated bounceIn" data-dismiss="modal" aria-hidden="true" style="color:#888!important">&times;</button>
    	<div class="col-lg-6" style="text-align:center">
    		<img src="<%= model.img_big %>" class="product-popup-image s-box-shadow-one animated flipInX">
    	</div>
    	<div class="col-lg-6 animated flipInY">
    		<h4 class=""><%= model.title %></h4>
             <p class="m-capitalize" style="padding:0px;margin-bottom:5px;">Price: <span style="font-size:20px;">$<%= model.price %></span></p>
    		<p class="m-capitalize" style="padding:0px;margin-bottom:10px;">Category: <%= model.category %></p>
    		<% if (model.source == "amazon") { %>
    			<p class="m-capitalize">Available On: <img src="assets/amazon_logo.png" style="max-width:110px;">
                </p>
    		<% } else if (model.source == "etsy") { %>
                <p class="m-capitalize">Available On: <img src="assets/etsy_logo.png" style="max-width:80px;padding-left:10px;">
                </p>
            <% } %>
    		<div class="row">
    			<div class="col-lg-12">
    				<a href="<%= model.link %>" class="btn btn-black" target="_blank">Buy Now</a>
    			</div>
    		</div>
            <div class="row">
                <div class="col-lg-12">
                    <button data-dismiss="modal" class="btn btn-black">Close</button>
                </div>
            </div>
    	</div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->