<h4 class="m-centered m-white m-font-light" style="letter-spacing:4px;">SETTINGS</h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'm-centered' }) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <label class="m-white">Username</label>
      <%= f.text_field :username, :class => 'form-control m-centered' %>
      </p>
    </div>

  <div class="form-group">
      <label class="m-white">Email</label>
      <%= f.email_field :email, :class => 'form-control m-centered'  %>
  </div>

  <div class="form-group">
      <label class="m-white">Amazon Affiliate ID</label>
      <%= f.text_field :affiliate_id, :class => 'form-control m-centered' %>
  </div>

  <div class="form-group">
    <label class="m-white">Password</label>
    <%= f.password_field :password, :class => 'form-control m-centered'  %>
    <small class="m-grey">Leave blank if you don't want to change it</small>

  </div>

  <div class="form-group">
    <label class="m-white">Current Password <span style="color:#D9534F">*</span></label>
    <%= f.password_field :current_password, :class => 'form-control m-centered'  %>
    <small class="m-grey small">Enter your password to confirm changes</small>
  </div>

  <div style="padding-top:5px;">
    <%= f.submit "Update Account", :class => 'btn btn-grey', :style => 'padding:10px 20px;' %>
  </div>
<% end %>

  <div class="m-centered" style="padding-top:10px;">
      <%= link_to "Delete Account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :style => 'padding:5px 15px 5px 15px;color:#D9534F' %>
  </div>
