<div id="registration-container">

    <h2 id="signup-title" class="m-font-bold m-centered">Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => 'm-centered' ) do |f| %>
      <%= devise_error_messages! %>

    	<div>
    	  <%= f.text_field :username, :class => 'form-control m-centered registration-username', :placeholder => 'Username' %>
      </div>
      <div id="username-notifications" class="m-centered hide" style="font-size:13px;"></div>
      
      <div>
      <%= f.email_field :email, :class => 'form-control m-centered registration-email', :placeholder => 'Email' %>
      </div>
       <div id="email-notifications" class="m-centered hide" style="font-size:13px;"></div>

      <div>
      <%= f.password_field :password, :class => 'form-control m-centered registration-password', :placeholder => 'Password' %>
      </div>
      <div id="password-notifications" class="m-centered hide" style="font-size:13px;"></div>

    	<div id="submit-button-container">
    		<center>
            <%= f.submit "Sign Up", :id => 'sign-up-button', :class => 'btn btn-primary', :style => 'min-width:190px;height:50px;background:#222;' %>
        </center>
    	</div>
    <% end %>

    <div class="m-centered" style="padding-top:25px;">
      <%= render :partial => "devise/shared/links" %>
    </div>

</div>
