
	<% _.each(collection, function(collection) { %>
			
			<div class="row item-result-row" draggable="true"
			data-id="<%= collection.id %>" data-title="<%= collection.title %>" data-price="<%= collection.price %>" data-image="<%= collection.img_small %>" data-category="<%= collection.category %>" data-source="amazon" data-link="<%= collection.link %>">
				
				<div class="product-result-container s-box-shadow-one col-offset-1 col-lg-10">
					<div class="row">
						<div class="col-offset-1 col-lg-4" style="padding-top:10px;"> 
							<%  // Check for Image
								if (collection.img_small) { %>
								<center><img src="<%= collection.img_small %>" draggable="false" class=""></center>
							<%  } else {  %>
								<p class="s-centered">No Image</p>
							<%	}  %>
						</div>
						<div class="col-lg-7">

							<p class="result-title" ><%= collection.title %></p>
							<span class="result-price pull-right">$<%= collection.price %></span> 
							<p class="result-category">
								<%= collection.category %>
							</p> 
							
						</div>
					</div>
				</div>

			</div>

	<% }); %>
