<h4 id="publish-confirm-title" class="m-centered m-font-light" style="margin-top:70px;">Ready to Publish?</h4>
<h4 id="publish-confirm-title" class="m-centered m-font-bold"><%= model.title %></h4>
<h5 id="publish-confirm-category" class="m-centered m-font-light"><%= model.category %></h5>
<h6 id="publish-confirm-category" class="m-centered m-font-light"><%= model.tag_one %>, <%= model.tag_two %>, <%= model.tag_three %></h6>
<center><button id="publish-confirm-button" class="btn btn-primary btn-publish">Publish</button></center>