
	<% _.each(collection, function(collection) { %>
			
			<div class="row item-result-row" draggable="true"
			data-id="<%= collection.id %>" data-title="<%= collection.title %>" data-price="<%= collection.price %>" data-image="<%= collection.img_small %>" data-category="<%= collection.category %>" data-source="amazon" data-link="<%= collection.link %>">
				<div class="col-offset-1 col-lg-10 product-result-container s-box-shadow-one">

					<%  // Check for Image 
						if (collection.img_small) { %>
						<center><img src="<%= collection.img_small %>" draggable="false" class=""></center>
					<%  } else {  %>
						<p class="s-centered">No Image</p>
					<%	}  %>

					<p class="result-title" ><%= collection.title.split(",", 2)[0] %></p>

					<span class="result-price pull-right">$<%= collection.price %></span> 

					<p class="result-category">
						<%= collection.category %>
					</p> 

				</div>
			</div>

	<% }); %>

