<% _.each(collection, function(medley) { %>
			<div class="row">
				<div class="medley-most-recent-box m-box-shadow-one" data-id="<%= medley.id %>">
					
					<div class="row">
							<%  if (medley.items[0].img_small) { %>
									<div class="col-offset-2 col-lg-4 medley-result-img-container">
										<center><img src="<%= medley.items[0].img_small %>"></center>
									</div>
							<%  } else {  %>
									<div class="col-lg-4 medley-result-img-container">
										<p class="s-centered m-nine" style="color:#ccc;padding-top:10px;">No Image</p>
									</div>
							<%	}  %>

							<%  if (medley.items[1].img_small) { %>
									<div class="col-lg-4 medley-result-img-container">
										<center><img src="<%= medley.items[1].img_small %>" draggable="false" class=""></center>
									</div>
							<%  } else {  %>
									<div class="col-lg-4 medley-result-img-container">
										<p class="s-centered m-nine" style="color:#ccc;padding-top:10px;">No Image</p>
									</div>
							<%	}  %>
					</div>
					<div class="row">
							<%  if (medley.items[2].img_small) { %>
									<div class="col-offset-2 col-lg-4 medley-result-img-container">
										<center><img src="<%= medley.items[2].img_small %>" draggable="false" class=""></center>
									</div>
							<%  } else {  %>
									<div class="col-offset-2 col-lg-4 medley-result-img-container">
										<p class="s-centered m-nine" style="color:#ccc;padding-top:10px;">No Image</p>
									</div>
							<%	}  %>

							<%  if (medley.items[3].img_small) { %>
									<div class="col-lg-4 medley-result-img-container">
										<center><img src="<%= medley.items[3].img_small %>" draggable="false" class=""></center>
									</div>
							<%  } else {  %>
									<div class="col-lg-4 medley-result-img-container">
										<p class="s-centered m-nine" style="color:#ccc;padding-top:10px;">No Image</p>
									</div>
							<%	}  %>
					</div>


					<div class="row">
						<div class="col-offset-1 col-lg-10">

							<p class="result-title m-centered" style="font-size:12px;line-height:16px;letter-spacing:0.5px;"><%= medley.title %></p>

							<p class="result-category m-centered">
								<%= medley.category %>
							</p> 

						</div> <!-- .col-offset-1 -->
					</div> <!-- .row -->

				</div> <!-- .col-offset-1 col-lg-10 -->
			</div> <!-- .row -->
		<% }); %>