<!DOCTYPE html>
<html>
<head>
  <title>Shopperater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-offset-8 col-lg-4">
			<% if user_signed_in? %>
			  	<ul class="list-unstyled list-inline">
				  	<li>
				  		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
				  	</li>
				  	<li>
				  		<%= link_to('Account', edit_user_registration_path) %>
				  	</li>
				</ul>
			<% else %>
				<ul class="list-unstyled list-inline">
				  	<li>
				  		Welcome, Guest
				  	</li>
				  	<li>
				  		<%= link_to('Sign-Up', new_user_registration_path)  %>  
				  	</li>
				  	<li>
				  		<%= link_to('Login', new_user_session_path)  %>  
				  	</li>
				</ul>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-offset-4">
			<p class="s-no-margin">Products | Creations | Users</p>
		</div>
	</div>
	<div id="header-logo-search" class="row">
	  	<div class="col-offset-1 col-lg-3"><h2 class="s-no-margin"><a href="/">Shopperater</a></h2></div>
	  	<div class="col-lg-6">
	  		<div class="row">
  				<div class="col-lg-12" style="padding:5px 0px 0px 0px;">
  					<div class="input-group">
	  					<%= text_field_tag 'Search', nil, placeholder: 'Type Product Keyword Here...', :id => 'primary-search', :class => 'form-control' %>
	  					<span class="input-group-btn">
					        <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
					    </span>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="col-lg-2" style="padding-top:5px;">
	  		<span class="glyphicon glyphicon-shopping-cart" style="font-size:30px;"></span>
	  	</div>
	</div>

	<div class="row">
	   	<div class="col-offset-1 col-lg-5" style="margin-top:5px;">
	   		<% if flash[:notice] %>
	   			<p class="alert alert-success s-no-margin"><%= notice %></p>
	   		<% end %>
	   		<% if flash[:alert] %>
       			<p class="alert alert-danger s-no-margin"><%= alert %></p>
       		<% end %>
       	</div>
	</div>

	<div class="row">
	   	<div class="col-offset-1 col-lg-10">
			
			<%= yield %>

		</div>
	</div>

</div>
</body>
</html>
