<!DOCTYPE html>
<html>
<head>
  <title>Medley - Browse And Create Collections of Related Products</title>
  <meta name="description" content="Medleys are user-created collections of products or items that are related to eachother.">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_link_tag "Open Sans" => [400, 700] %>
  <% if Rails.env == 'production' %>
  	  <!-- Segment.io -->
	  <script type="text/javascript">
		  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
		  analytics.load("wht29a1amk");
	   </script>
	   <!-- Google Analytics -->
	   <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-44579421-1', 'medley.herokuapp.com');
		  ga('send', 'pageview');

		</script>
   <% end %>
</head>
<body>

	<!-- Check whether is Logged in or not for Backbone --> 
	<% if user_signed_in? %>
		<script>
			var medleyAuthenticated = true
		</script>
	<% else %>
		<script>
			var medleyAuthenticated = false
		</script>
	<% end %>

<div id="banner-area" class="m-centered m-white m-font-bold">
	<div id="banner-area-text">
		<a href="http://blog.mdly.co" class="banner-link">Make Money From Your Medleys By Entering In Your Amazon Associates Tag</a> <span style="opacity:0.6;">Or</span> <span id="hide-banner-link" class="banner-link">Hide This Message</span>
	</div>
</div>
<div class="container">
	<div id="header-container">
			<div id="upper-navigation" class="row">
				<% if user_signed_in? %>
				<% else %>
			  	<div class="col-offset-1 col-lg-10">
			   		<ul id="upper-navigation-links" class="list-inline pull-right m-font-light">
						<li><a href="/register">SIGN-UP</a></li>
						<li><%= link_to 'LOG IN', login_path %></li>
					</ul>
		       	</div>
		       	<% end %>
			</div>

			<div id="header-logo" class="row">
			  	<div class="col-lg-12 s-centered">
			  		<h1 style="margin:0px;"><a href="/" class="brand m-text-shadow">MEDLEY</a></h1>
			  	</div>
			  	<div class="row">
			  		<h2 id="tagline" class="col-offset-3 col-lg-6 s-centered s-font-bold" style="padding:3px 0px 3px 0px">The Best Related Products</h2>
			  	</div>
			</div>

			<div id="module-primary-search" class="row">
				<div id="retailer-dropdown-container" class="col-offset-3 col-lg-1">
					<div class="dropdown">
						 <a id="retailer-toggle" class="pull-right" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-chevron-down" style="font-size:10px;padding-right:3px;"></span><span id="retailer-title"> All Retailers</span></a>
						 <ul id="retailer-dropdown" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    <li class="retailer-select" data-retailer="All Retailers">All Retailers</li>
						    <li class="divider"></li>
						    <li class="retailer-select" data-retailer="Amazon">Amazon</li>
						    <li class="retailer-select" data-retailer="Etsy">Etsy</li>
						 </ul>
					</div>
				</div>
			  	<div class="col-lg-4">
					<%= text_field_tag 'Search', nil, placeholder: '', :id => 'primary-search-field', :class => 'form-control s-font-bold', :autofocus => true %>
					<span id="cursor"></span>
			  	</div>
			</div>

			<div class="row">
				<div id="create-button-container" class="col-offset-1 col-lg-2">
			  		<a id="create-button" class="m-font-bold" href="/editor"><i class="glyphicon glyphicon-th-large" style="font-size:10px;font-weight:normal"></i> CREATE A MEDLEY</a>
			  	</div>
				<div id="menu-button-container" class="col-offset-7 col-lg-1">
			  		<a id="menu-button" class="m-font-bold"><i class="glyphicon glyphicon-chevron-down"></i>MENU</a>
			  	</div>
			</div>

			<div id="menu-links-container" class="row">
			   	<div class="col-offset-1 col-lg-10">
			   		<ul id="menu-links" class="list-inline pull-right m-font-light">
						<li><a href="/">Home</a></li>
						<li><a href="/editor">Create Medley</a></li>
						<% if user_signed_in? %>
						<li><a href="/settings">SETTINGS</a></li>
						<li><a href="http://blog.mdly.co">BLOG</a></li>
						<li><a href="/logout">LOGOUT</a></li>
						<% else %>
						<li><a href="http://blog.mdly.co">BLOG</a></li>
						<li><a href="/register">SIGN-UP</a></li>
						<li><a href="/login">LOGIN</a></li>
						<% end %>
					</ul>
		       	</div>
			</div>

			<div id="notifications-container" class="row">
			   	<div class="col-offset-4 col-lg-4" style="margin-top:5px;text-align:center">
		       	</div>
			</div>

	</div><!-- #header-container -->

	<div class="row">
	   	<div class="col-offset-1 col-lg-10">
			<%= yield %>
		</div>
	</div>

	<div class="row">
	   	<div class="col-offset-1 col-lg-10">
	   		<ul id="bottom-nav" class="list-inline pull-right m-font-light" style="font-size:10px;padding-top:10px;letter-spacing:1px;">
					<li><a href="mailto:medleyapp@gmail.com">CONTACT US</a></li>
					<li><a href="#">TERMS OF SERVICE</a></li>
					<li><a href="#">&copy; MEDLEY 2013</a></li>
			</ul>
		</div>
	</div>

</div>

<script async src="http://localhost:3000/script/medleywidgets.js" charset="utf-8"></script>
</body>
</html>
