<!DOCTYPE html>
<html>
<head>
  <title>Medley</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_link_tag "Open Sans" => [400, 700] %>
</head>
<body>

	<!-- Check whether is Logged in or not for Backbone --> 
	<% if user_signed_in? %>
		<script>
			var medleyAuthenticated = true
		</script>
	<% else %>
		<script>
			var medleyAuthenticated = false
		</script>
	<% end %>

<div class="container">
	<div id="header-container">

			<div id="upper-navigation" class="row">
				<% if user_signed_in? %>
				<% else %>
			  	<div class="col-offset-1 col-lg-10">
			   		<ul id="upper-navigation-links" class="list-inline pull-right m-font-light">
						<li><a href="/register">SIGN-UP</a></li>
						<li><a href="/login">LOGIN</a></li>
					</ul>
		       	</div>
		       	<% end %>
			</div>

			<div id="header-logo" class="row">
			  	<div class="col-lg-12 s-centered"><h2 class="s-no-margin s-centered"><a href="/" class="brand">MEDLEY</a></h2></div>
			</div>

			<div id="module-primary-search" class="row">
			  	<div class="col-offset-4 col-lg-4">
			  		<p id="primary-search-instructions" class="s-centered s-font-bold">Enter A Product</p>
					<%= text_field_tag 'Search', nil, placeholder: '', :id => 'primary-search-field', :class => 'form-control s-font-bold', :autofocus => true %>
			  	</div>

			  	<div id="menu-button-container" class="col-offset-2 col-lg-1">
			  		<a id="menu-button" class="m-font-bold"><i class="glyphicon glyphicon-chevron-down"></i>MENU</a>
			  	</div>
			</div>

			<div id="menu-links-container" class="row">
			   	<div class="col-offset-1 col-lg-10">
			   		<ul id="menu-links" class="list-inline pull-right m-font-light">
						<li><a href="/">Home</a></li>
						<li><a href="/editor">Create Medley</a></li>
						<% if user_signed_in? %>
						<li><a href="/logout">LOGOUT</a></li>
						<% else %>
						<li><a href="/register">SIGN-UP</a></li>
						<li><a href="/login">LOGIN</a></li>
						<% end %>
					</ul>
		       	</div>
			</div>

			<div id="notifications-container" class="row">
			   	<div class="col-offset-4 col-lg-4" style="margin-top:5px;text-align:center">
		       	</div>
			</div>

	</div><!-- #header-container -->

	<div class="row">
	   	<div class="col-offset-1 col-lg-10">
			
			<%= yield %>

		</div>
	</div>

</div>
</body>
</html>
